<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitPub</title>
</head>
<body>
    <h1>At foo bar</h1>

<style type="text/css">
body {
    background-color: rgb(150, 186, 186);
    color:rgb(7, 3, 7)
}
img {
  size-adjust: 100px;
}
</style>
<ul>
    <% for(let i = 0; i < allDrinks.length; i++){ %>
    <% const drink = allDrinks[i] %>
    <% const drinkName = drink.name %>
    <% const drinkImg = drink.image %>
    <% const drinkPrice = drink.price %>
    <% const capDrink = drinkName.charAt(0).toUpperCase() + drinkName.slice(1) %>
      <li>
        <h2> <a href="/drinks/<%=i %> "><%=capDrink%></a></h2>
        <img src="<%=drinkImg %>" width="300" height="300">
        <h3>$<%=drinkPrice %></h3>
      </li>
     <%  } %> 
  </ul>
<h2><a href="http://localhost:3000/drinks">Back</a></h2>

<ul>
    <% for(let i = 0; i < allFood.length; i++){ %>
        <% const food = allFood[i] %>
        <% const foodName = food.name %>
        <% const foodImg = food.image %>
        <% const foodPrice = food.price %>
        <% const capFood = foodName.charAt(0).toUpperCase() + foodName.slice(1) %>
          <li>
            <h2> <a href="/food/<%=i %> "><%=capFood %></a></h2>
            <img src="<%=foodImg %> width="300" height="300"">
        <h3>$<%=foodPrice %></h3>
          </li>
         <%  } %> 

  </ul>
  <h2><a href="http://localhost:3000/drinks">Back</a></h2>
</body>
</html>